{
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "airbnb-typescript",
    "plugin:import/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "comma-dangle": "off",
    "@typescript-eslint/comma-dangle": "off",
    "indent": "off",
    "@typescript-eslint/indent": "off",
    "space-before-blocks": "off",
    "@typescript-eslint/space-before-blocks": "off",
    "react/display-name": "off",
    "react/prop-types": "off",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  }
}
