node_modules
dist
yarn.lock
.DS_Store
test-results
.eslintcache
coverage
playwright-report
playwright/.cache
*.tgz
style.css
.vscode
yarn-error.log
/test-results/
/playwright-report/
/playwright-rtl-report/
/playwright/.cache/
