{
	"trailingComma": "es5",
	"singleQuote": true,
	"printWidth": 95,
	"useTabs": true,
	"overrides": [
		{
			"files": "README.md",
			"options": {
				"useTabs": false
			}
		},
		{
			"files": "tests/*.ts",
			"options": {
				"printWidth": 100
			}
		}
	]
}
