{
  "trailingComma": "es5",
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 95,
  "useTabs": false,
  "overrides": [
    {
      "files": "tests/*.ts",
      "options": {
        "printWidth": 100
      }
    }
  ]
}
