/*** Transitions ***/

/* Easing source: https://easings.net/it#easeOutSine */

/* Colors */

.rr--fx-colors {
	--rr--easing: 200ms cubic-bezier(0.61, 1, 0.88, 1);
}

.rr--fx-colors .rr--svg {
	transition-duration: 200ms;
	transition-timing-function: var(--rr--easing);
	transition-property: background-color, border-color, fill, stroke;
}

/* Opacity */

.rr--fx-opacity .rr--off {
	opacity: 0.35;
	transition: opacity var(--rr--easing);
}

.rr--fx-opacity .rr--on {
	opacity: 1;
}

@media (hover: hover) {
	.rr--fx-opacity .rr--box:hover {
		opacity: 1;
	}
}

/* Zoom */

@media (hover: hover) {
	.rr--fx-zoom .rr--box {
		transition: transform var(--rr--easing);
		transform: scale(1);
	}

	.rr--fx-zoom .rr--box:hover {
		transform: scale(1.2);
	}

	@media (prefers-reduced-motion) {
		.rr--fx-zoom .rr--box:hover {
			transform: scale(1);
		}
	}
}

/* Position */

@media (hover: hover) {
	.rr--fx-position .rr--box {
		transition: transform var(--rr--easing);
		transform: translateY(0%);
	}

	.rr--fx-position .rr--box:hover {
		transform: translateY(-15%);
	}

	@media (prefers-reduced-motion) {
		.rr--fx-position .rr--box:hover {
			transform: translateY(0%);
		}
	}
}
