.rar--group {
  display: flex;
  width: 100%;
}

.rar--box {
  --rar--offset: 5px;
  display: flex;
  padding: var(--rar--offset) 0;
  width: 100%;
  flex-grow: 1;
}

.rar--svg {
  display: flex;
  aspect-ratio: 1;
  width: 100%;
  flex-grow: 1;
}

/* Focus */

.rar--box:focus-visible {
  position: relative;
  outline: rgba(0, 0, 0, 0);
}

.rar--box:focus-visible::after {
  position: absolute;
  content: '';
  box-shadow: inset 0 0 0 3px white;
  border: 3px solid #0079ff;
  width: unset;
  left: unset;
  height: calc(100% - calc(var(--rar--offset) * 2));
  box-sizing: border-box;
}
