/*** Core elements ***/

.rri--group {
  display: flex;
  flex-direction: var(--rri--orientation, unset);
  width: 100%;
}

.rri--item-mask {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.rri--item-box:focus-visible {
  border: none;
  border-radius: var(--rri--box-radius, 0);
  box-shadow: 0 0 0 3px blue;
  outline: none;
}

.rri--flx-center {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.rri--item-box,
.rri--item-box-ro {
  width: auto;
  aspect-ratio: 1;
  display: flex;
  padding: var(--rri--box-padding, 0);
  border-style: solid;
  border-width: var(--rri--box-border-width, 0);
  border-radius: var(--rri--box-radius, 0);
}

/* Active / Inactive */

.rri--inactive .rri--item-box,
.rri--item-box-ro.rri--inactive {
  background-color: var(--rri--inactive-box-color);
  border-color: var(--rri--inactive-box-border-color, none);
}

.rri--active .rri--item-box,
.rri--item-box-ro.rri--active {
  background-color: var(--rri--active-box-color);
  border-color: var(--rri--active-box-border-color, none);
}

/* SVG Item */

.rri--svg-item {
  stroke-linecap: var(--rri--item-stroke-linecap, unset);
  stroke-linejoin: var(--rri--item-stroke-linejoin, unset);
}

.rri--active .rri--item-box .rri--svg-item,
.rri--item-box-ro.rri--active .rri--svg-item {
  fill: var(--rri--active-item-color);
  stroke: var(--rri--active-item-stroke-color, currentColor);
}

.rri--inactive .rri--item-box .rri--svg-item,
.rri--item-box-ro.rri--inactive .rri--svg-item {
  fill: var(--rri--inactive-item-color);
  stroke: var(--rri--inactive-item-stroke-color, currentColor);
}

/*** Orientation and margin ***/

/* Orientation - Horizontal */

.rri--group.rri--dir-x .rri--margin {
  padding-left: var(--rri--box-margin, unset);
  padding-top: var(--rri--box-margin, unset);
  padding-bottom: var(--rri--box-margin, unset);
}

.rri--group.rri--dir-x .rri--margin:last-of-type {
  padding-right: var(--rri--box-margin, unset);
}

/* Orientation - Horizontal - RTL */

[dir='rtl'] .rri--group.rri--dir-x .rri--margin {
  padding-right: var(--rri--box-margin, unset);
  padding-left: unset;
}

[dir='rtl'] .rri--group.rri--dir-x .rri--margin:last-of-type {
  padding-left: var(--rri--box-margin, unset);
}

/* Orientation - Vertical */

.rri--group.rri--dir-y .rri--margin {
  padding-left: var(--rri--box-margin, unset);
  padding-top: var(--rri--box-margin, unset);
  padding-right: var(--rri--box-margin, unset);
}

.rri--group.rri--dir-y .rri--margin:last-of-type {
  padding-bottom: var(--rri--box-margin, unset);
}

/*** Orientation and margin readOnly ***/

/* Orientation - Horizontal */

.rri--group.rri--dir-x .rri--margin-ro {
  margin-left: var(--rri--box-margin, unset);
  margin-top: var(--rri--box-margin, unset);
  margin-bottom: var(--rri--box-margin, unset);
}

.rri--group.rri--dir-x .rri--margin-ro:last-of-type {
  margin-right: var(--rri--box-margin, unset);
}

/* Orientation - Horizontal - RTL */

[dir='rtl'] .rri--group.rri--dir-x .rri--margin-ro {
  margin-right: var(--rri--box-margin, unset);
  margin-left: unset;
}

[dir='rtl'] .rri--group.rri--dir-x .rri--margin-ro:last-of-type {
  margin-left: var(--rri--box-margin, unset);
}

/* Orientation - Vertical */

.rri--group.rri--dir-y .rri--margin-ro {
  margin-left: var(--rri--box-margin, unset);
  margin-top: var(--rri--box-margin, unset);
  margin-right: var(--rri--box-margin, unset);
}

.rri--group.rri--dir-y .rri--margin-ro:last-of-type {
  margin-bottom: var(--rri--box-margin, unset);
}

/*** Transitions ***/

/* Zoom */

.rri--group.rri--transition-zoom .rri--item-mask {
  transition: transform var(--rri--easing);
  transform: scale(1);
}

@media (hover: hover) {
  .rri--group.rri--transition-zoom .rri--item-mask:hover {
    transform: scale(1.15);
  }
}

/* Position */

.rri--group.rri--transition-position .rri--item-mask {
  transition: transform var(--rri--easing);
  transform: translateY(0%);
}

@media (hover: hover) {
  .rri--group.rri--transition-position .rri--item-mask:hover {
    transform: translateY(-12.5%);
  }
}

/* Opacity */

.rri--group.rri--transition-opacity .rri--item-mask.rri--active {
  opacity: 1;
}

.rri--group.rri--transition-opacity .rri--item-mask.rri--inactive {
  opacity: 0.35;
  transition: opacity var(--rri--easing);
}

@media (hover: hover) {
  .rri--group.rri--transition-opacity .rri--item-mask:hover {
    opacity: 1;
  }
}

/* Colors */

.rri--transition-colors .rri--item-mask .rri--item-box {
  transition: background-color var(--rri--easing), border-color var(--rri--easing); /* Add same transition to svg */
}

.rri--transition-colors .rri--item-mask .rri--item-box .rri--svg-item {
  transition: fill var(--rri--easing), stroke var(--rri--easing);
}

/* Readonly */

.rri--precision-stop-1 {
  stop-color: var(--rri--active-item-color);
}

[dir='rtl'] .rri--precision-stop-1 {
  stop-color: var(--rri--inactive-item-color);
}

.rri--precision-stop-2 {
  stop-color: var(--rri--inactive-item-color);
}

[dir='rtl'] .rri--precision-stop-2 {
  stop-color: var(--rri--active-item-color);
}

/* Readonly - Box*/

.rri--readonly-precision-box-int .rri--item-box {
  background: linear-gradient(
    to right,
    var(--rri--active-box-color, none) 50%,
    var(--rri--inactive-box-color, none) 50%
  );
}

[dir='rtl'] .rri--readonly-precision-box-int .rri--item-box {
  background: linear-gradient(
    to left,
    var(--rri--active-box-color, none) 50%,
    var(--rri--inactive-box-color, none) 50%
  );
}

.rri--readonly-precision-active-box .rri--item-box {
  background-color: var(--rri--active-box-color);
}

.rri--readonly-precision-inactive-box .rri--item-box {
  background-color: var(--rri--inactive-box-color);
}

.rri--readonly-precision-box-int .rri--item-box .rri--svg-item,
.rri--readonly-precision-active-box .rri--item-box .rri--svg-item,
.rri--readonly-precision-inactive-box .rri--item-box .rri--svg-item {
  fill: var(--rri--active-item-color);
  stroke: var(--rri--active-item-stroke-color, currentColor);
}

/* Readonly - SVG */

.rri--readonly-precision-svg-int .rri--svg-item {
  stroke: var(--rri--active-item-stroke-color, currentColor);
}

.rri--readonly-precision-svg-active .rri--svg-item {
  fill: var(--rri--active-item-color);
  stroke: var(--rri--active-item-stroke-color, currentColor);
}

.rri--readonly-precision-svg-inactive .rri--svg-item {
  fill: var(--rri--inactive-item-color);
  stroke: var(--rri--active-item-stroke-color, currentColor);
}

.rri--readonly-precision-svg-int .rri--item-box,
.rri--readonly-precision-svg-active .rri--item-box,
.rri--readonly-precision-svg-inactive .rri--item-box {
  background-color: var(--rri--active-box-color);
}

/*** Helpers ***/

.rri--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.rri--cursor {
  cursor: pointer;
}
